/* CustomNavbar.module.css */
.customNavbar {
  background-color: #1e88e5;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
  padding-left: 30px;
  text-decoration: none !important;
  transition: color 0.3s ease;
  margin: 0;
  line-height: 100px;
}

.logo:hover {
  color: #ffffff;
  opacity: 0.9;
  text-decoration: none !important;
}

.navbarNav {
  display: flex;
  align-items: center;
  gap: 1 rem;
  margin: 0 auto;
  height: 100%;
  padding-left: 120px;
}

.navLink {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: none;
  border-radius: 4px;
  height: 100%;
  display: flex;
  align-items: center;
}


